<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic.min.css')}}">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='semantic.min.js')}}"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <header>
    <div class="ui stackable menu">
      <div class="item">
        <img width="200" src="https://www.shareicon.net/download/2015/09/10/98905_fork.svg">
      </div>
      <a class="item" href="{{url_for('hello')}}">Home</a>
      <div class="right menu">
        {% if login_session.username %}
        <div class="item">
          Welcome, {{login_session.username}}
        </div>
        <a class="item" href="{{url_for('gdisconnect')}}">Logout</a>
        {% else %}
        <a class="item" href="{{url_for('showLogin')}}">Login</a>
        {% endif %}
      </div>
    </div>
  </header>
  <div class="ui hidden divider"></div>
  <div class="ui hidden divider"></div>
  <div class="ui container">
    <form action="{{url_for('editFrameWork', language_id = language_id, framework_id=item.id)}}" method='POST'>

      <div class="basic segment">
        <div class="ui input">
          <label for="name">Framework name: </label>
          <input type='text' id="name" size='30' name='name' placeholder="{{item.name}}">
        </div>
      </div>
      <div class="ui hidden divider"></div>
      <div class="ui input">
        <label for="description">Description</label>
        <input size='150' name='description' placeholder="{{item.description}}">
      </div>
      <div class="ui hidden divider"></div>
      <div class="ui input">
        <label for="website">Official website</label>
        <input type='text' size='30' name='website' placeholder="{{item.website}}">
      </div>

      <div class="ui basic segment">
        <input type='submit' value='Edit'>
        &nbsp;&nbsp;
        <a href="{{url_for('languageMenu', language_id= item.language_id)}}">Cancel</a>
      </div>
    </form>
  </div>
</body>

</html>
