<html>

<body>

  <h1>{{language.name}}</h1>
  <a href='{{url_for('newFrameWork', language_id = language.id) }}'>Add a new framework</a>

  {% for i in frameworks %}

  <div>

    <p>{{i.name}}</p>

    <p>{{i.description}}</p>
    <p> {{i.website}} </p>

    </br>
    <a href='{{url_for('editFrameWork', language_id=language.id, framework_id=i.id) }}'>Edit</a>
    <a href='{{url_for('deleteFrameWork', language_id=language.id, framework_id=i.id) }}'>Delete</a>
    </br>

  </div>


  {% endfor %}
</body>

</html>
