<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic.min.css')}}">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='semantic.min.js')}}"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet"
    href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
</head>

<body>
  <header>
    <div class="ui stackable menu">
      <div class="item">
        <img width="200" src="https://www.shareicon.net/download/2015/09/10/98905_fork.svg">
      </div>
      <a class="item" href="{{url_for('hello')}}">Home</a>
      <div class="right menu">
        {% if login_session.username %}
        <div class="item">
          Welcome, {{login_session.username}}
        </div>
        <a class="item" href="{{url_for('gdisconnect')}}">Logout</a>
        {% else %}
        <a class="item" href="{{url_for('showLogin')}}">Login</a>
        {% endif %}
      </div>
    </div>
  </header>
  <main>
    <div class="ui container">
      <h1 class="ui header"><i class={{language.icon}}></i> &nbsp; {{language.name}} frameworks and libraries</h1>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li><strong>{{message}}</strong></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <div class="ui grid padded">
        {% for i in frameworks %}
        <div class="eight wide row">
          <div class="ui cards">
            <div class="card">
              <div class="content">
                <div class="header">
                  <i class={{i.icon}}></i>
                  &nbsp;{{i.name}}
                </div>
                <div class="meta">
                  {{i.name}}
                </div>
                <div class="description">
                  {{i.description}}
                </div>
                <div>{{i.website}}</div>
              </div>
              {% if i.user_id == login_session['user_id']%}
              <div class="extra content">
                <div class="ui two buttons">
                  <div class="ui basic green button">Edit</div>
                  <div class="ui basic red button">Delete</div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </main>
</body>

</html>
